extensions/sockets/src/test/resources/tcp-ssl-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
       http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">


    <tls:context name="globalTlsContext" >
        <tls:trust-store path="tls/trustStore" password="mulepassword"/>
        <tls:key-store path="tls/clientKeystore" keyPassword="mulepassword" password="mulepassword"/>
    </tls:context>

    <tls:context name="serverTlsContext" >
        <tls:key-store path="tls/clientKeystore" keyPassword="mulepassword" password="mulepassword"/>
    </tls:context>

    <tls:context name="clientTlsContext" >
        <tls:trust-store path="tls/trustStore" password="mulepassword"/>
    </tls:context>

    <sockets:request-config name="tcp-request">
        <sockets:tcp-requester-connection host="localhost" port="${port}"
                                          failOnUnresolvedHost="true"
                                          sendTcpNoDelay="true" tlsContext="clientTlsContext">
            <pooling-profile maxActive="1"/>
        </sockets:tcp-requester-connection>
    </sockets:request-config>

    <sockets:listener-config name="tcp-listener">
        <sockets:tcp-listener-connection host="localhost" port="${port}"
                                         tlsContext="serverTlsContext"/>
    </sockets:listener-config>

    <flow name="tcp-send-and-receive">
        <sockets:send config-ref="tcp-request" hasResponse="true"/>
    </flow>

    <flow name="tcp-listen">
        <sockets:socket-listener config-ref="tcp-listener"/>
        <object-to-string-transformer mimeType="text/plain"/>
        <set-payload value="#[payload]_modified"/>
    </flow>
</mule>